@keyframes slide {
    0% {
        background-position-x: 100%;
    }

    50% {
        box-shadow: 0 0 15px #3b82f6;
    }

    100% {
        background-position-x: -100%;
    }
}

.contact-button:hover {
    animation: slide 2s linear infinite;
    background-size: 200%;
}

.contact-button:hover {
    @apply from-blue-600 via-blue-500 to-blue-600 bg-gradient-to-r
}

.contact-button {
    @apply bg-blue-600
}