@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bree+Serif&family=Source+Sans+Pro&family=Ubuntu&display=swap');


/* hide scrollbar but allow scrolling */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.center {
    @apply items-center justify-center
}

h2 {
    @apply text-4xl
}

h3 {
    @apply text-2xl
}

button {
    @apply flex
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    @apply pointer-events-none
}